.emoji-area{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    background: #FEF8E6;
    width: 94.5rem;
    height: 17.3125rem;
}
.emoji-period{
    display: flex;
    width: 16.375rem;
    height:auto;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    position: absolute;
    left: 12.1875rem;
    top: 8rem;
    border-radius: 10rem;
    background: #FFF;
}
.period-chosen {
    display: flex;
    padding: 0.5rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    border: 2px solid #606060;
    background: #FFF;
}
.period{
    display:inline-flex;
    height:auto;
    font-size:20px;
    padding:10px;
    border-radius: 10px;
    border-color:#ffffff;
    background-color:#ffffff;
    flex: 1;
    font-weight: 400;
    /* font-size:20px; */
    /* color: #3F3F3F;
    font-family: Inter;
    font-size: 16px;
    font-style: normal; */
    /* font-weight: 400; */
    /* line-height: normal; */
    padding:10px;
}
.emoji-container {
    display: flex;
    width: 10rem;
    height: 8.4375rem;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    left: 25rem;
    top:12em;
}
.emoji-daytime {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
}
.emoji-daytime-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    position: absolute;
    top: 1.875rem;
}
/* .mood-weekly{
    display:flex;
} */
/* .mood{
    width: 79px;
    height: 168px;
    flex-shrink: 0;
} */
.emoji-mood{
    position:relative;
    display:flex;
    /* margin-left:10%; */
    margin-left:1%;
    margin-top:5%;
    /* flex-shrink: 0; */
    background-color: #ffffff;
    border-radius:100px;
    padding:5px;
    width: 60px;
    height: 168px;
    top:0;
    left:0;
}
.emoji-mood .img1{
    width: 60px;
    height: 60px;
    margin-left: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    top:0;
    left:0;
    /* display:inline-block;
    position:absolute; */
}

.emoji-mood .img2{
    width: 60px;
    height: 60px;
    top: 100px;
    /* left: 20px; */
    position: absolute;
    /* margin-left: 1px;
    margin-top: 5px;
    margin-bottom: 5px; */
    /* display:inline-block;
    position:absolute; */
}
.stacked-time{
    position: relative; 
}
.time{
    width: 100%;
    line-height: 80px;
    text-align: center;
}